In [ ]:
import pandas as pd
import numpy as np

X_titanic_test = pd.read_csv('../data/raw/test.csv')
y_titanic_test = pd.read_csv('../data/raw/gender_submission.csv')
X_titanic_train = pd.read_csv('../data/raw/train.csv')

#Removemos culumnas que en su mayoría son únicas de esta forma añadiendo ruido al modelo
X_titanic_test = X_titanic_test.drop('Name', axis=1)
X_titanic_test = X_titanic_test.drop('Ticket', axis=1)
y_titanic_test = y_titanic_test.drop('PassengerId', axis=1)

y_titanic_train = X_titanic_train['Survived']
X_titanic_train = X_titanic_train.drop('Survived', axis=1)
X_titanic_train = X_titanic_train.drop('Name', axis=1)
X_titanic_train = X_titanic_train.drop('Ticket', axis=1)



#Visualización de los datos para entender su estructura, en este caso vemos que Embarked y Sex son categóricos, Cabin tiene muchos valores distintos lo cual lo vuelve inutilizable por OHE
print("----------set of unique values in Defined column:")
words = set(" ".join(X_titanic_train['Embarked'].astype(str)).split())
print(len(words))
print(words)
words = set(" ".join(X_titanic_train['Cabin'].astype(str)).split())
print(len(words))
print(words)
words = set(" ".join(X_titanic_train['Sex'].astype(str)).split())
print(len(words))
print(words)

#Añadimos como visualización la información de los datos el porcentaje de NaN que tienen para entender bien los datos que faltan y que necesidades de "tratamiento" necesitan
print("----------info about X_titanic_train:", X_titanic_train.shape)
display(X_titanic_train.info())
display(X_titanic_train.head())
nan_percentages = X_titanic_train.isnull().sum() / len(X_titanic_train) * 100
print(nan_percentages)

print("----------info about y_titanic_train:", y_titanic_train.shape)
display(y_titanic_train.info())
display(y_titanic_train.head())

print("----------info about X_titanic_test:", X_titanic_test.shape)
display(X_titanic_test.info())
display(X_titanic_test.head())
nan_percentages = X_titanic_test.isnull().sum() / len(X_titanic_test) * 100
print(nan_percentages)

print("----------info about y_titanic_test:", y_titanic_test.shape)
display(y_titanic_test.info())
display(y_titanic_test.head())

----------set of unique values in Defined column:
4
{'C', 'S', 'Q', 'nan'}
162
{'B37', 'C62', 'E40', 'B53', 'B18', 'B82', 'A5', 'B84', 'C7', 'A6', 'E10', 'T', 'B94', 'B35', 'B59', 'C99', 'E44', 'C110', 'A34', 'B19', 'B55', 'D6', 'E36', 'C123', 'C32', 'A23', 'F33', 'D21', 'A19', 'A14', 'C46', 'A10', 'C25', 'C106', 'E68', 'B3', 'C86', 'C70', 'D15', 'C22', 'D37', 'C82', 'E50', 'E49', 'B5', 'C93', 'B102', 'C103', 'C126', 'F', 'B58', 'C30', 'A7', 'F2', 'E121', 'E63', 'A16', 'B41', 'B79', 'D46', 'D33', 'B28', 'D50', 'C49', 'C65', 'G6', 'B66', 'D20', 'D49', 'B38', 'B20', 'B50', 'D30', 'B51', 'B49', 'C85', 'B80', 'C52', 'C45', 'G63', 'D9', 'D12', 'C101', 'B71', 'B78', 'E8', 'B69', 'C47', 'C104', 'D28', 'F4', 'C124', 'A26', 'C2', 'A31', 'C83', 'G73', 'D19', 'B30', 'A36', 'E101', 'nan', 'C27', 'C128', 'A32', 'B96', 'F38', 'C78', 'E17', 'C50', 'C26', 'C54', 'C91', 'E24', 'D48', 'D36', 'C111', 'B4', 'C148', 'D26', 'D47', 'E46', 'C125', 'B60', 'D45', 'B86', 'D11', 'E77', 'D56', 'B42', 'B73', 'D17', 'E69', 'B39', 'C68', 'D7', 'E58', 'C87', 'E34', 'E33', 'C95', 'B98', 'B63', 'C90', 'E38', 'D35', 'D', 'D10', 'B77', 'C64', 'E12', 'C118', 'B22', 'E31', 'B101', 'A24', 'E25', 'C92', 'C23', 'B57', 'A20', 'E67'}
2
{'female', 'male'}
----------info about X_titanic_train: (891, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Sex          891 non-null    object
 3   Age          714 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Cabin        204 non-null    object
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

None

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0            1       3    male  22.0      1      0   7.2500   NaN        S
1            2       1  female  38.0      1      0  71.2833   C85        C
2            3       3  female  26.0      0      0   7.9250   NaN        S
3            4       1  female  35.0      1      0  53.1000  C123        S
4            5       3    male  35.0      0      0   8.0500   NaN        S

PassengerId     0.000000
Pclass          0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64
----------info about y_titanic_train: (891,)
<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Survived
Non-Null Count  Dtype
--------------  -----
891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB

None

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

----------info about X_titanic_test: (418, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         417 non-null    float64
 7   Cabin        91 non-null     object
 8   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 29.5+ KB

None

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0          892       3    male  34.5      0      0   7.8292   NaN        Q
1          893       3  female  47.0      1      0   7.0000   NaN        S
2          894       2    male  62.0      0      0   9.6875   NaN        Q
3          895       3    male  27.0      0      0   8.6625   NaN        S
4          896       3  female  22.0      1      1  12.2875   NaN        S

PassengerId     0.000000
Pclass          0.000000
Sex             0.000000
Age            20.574163
SibSp           0.000000
Parch           0.000000
Fare            0.239234
Cabin          78.229665
Embarked        0.000000
dtype: float64
----------info about y_titanic_test: (418, 1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
dtypes: int64(1)
memory usage: 3.4 KB

None

   Survived
0         0
1         1
2         0
3         0
4         1

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.impute import KNNImputer

from sklearn.linear_model import LogisticRegression


scaler_pipeline = Pipeline([
    ('StandardScaler', StandardScaler())
])

preprocess = ColumnTransformer(
    transformers=[
        ('OneHotEncoder', OneHotEncoder(handle_unknown='ignore'), ['Embarked',"Sex"]),
        ('OrdinalEncoder', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), ['Cabin']),
        ('StandardScaler',scaler_pipeline,['Age','Fare','SibSp','Parch']),
    ],
    remainder='passthrough' 
)

model = Pipeline([
    ('Preprocess', preprocess),
    ('Imputer', KNNImputer(n_neighbors=2)),
    ('Classifier', LogisticRegression(max_iter=2000))
])

print(y_titanic_test.shape)
model.fit(X_titanic_train, y_titanic_train)
print(model.score(X_titanic_test,y_titanic_test))

(418, 1)
0.9425837320574163

In [38]:
from sklearn.model_selection import GridSearchCV


scoring = {
    'accuracy':'accuracy',
    'precision':'precision',
    'recall':'recall',
    'f1':'f1'
}

params = {
    'Classifier__C': [0.01, 0.1, 1, 10, 100],
    'Classifier__penalty': ['l2'],
    'Classifier__solver': ['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga'],
    'Classifier__max_iter': [10,25,50,100,250,500,1000,1500,2000,5000],
    'Imputer__n_neighbors':[2,3,4,5,6,7]
}

gs = GridSearchCV(
    estimator=model,
    param_grid=params,
    cv=5,
    scoring=scoring,
    refit='f1',
    n_jobs=-1
)

gs.fit(X_titanic_train,y_titanic_train)

print("Best parameters:", gs.best_params_)
print("Best score:", gs.best_score_)

Best parameters: {'Classifier__C': 10, 'Classifier__max_iter': 25, 'Classifier__penalty': 'l2', 'Classifier__solver': 'liblinear', 'Imputer__n_neighbors': 4}
Best score: 0.7192065320620291

In [39]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

best_model = gs.best_estimator_
best_model.fit(X_titanic_train, y_titanic_train)


scores = cross_val_score(model, X_titanic_train, y_titanic_train, cv=5)
print("Original model Cross-validation score",scores.mean())
scores = cross_val_score(best_model, X_titanic_train, y_titanic_train, cv=5)
print("GridSearchCV Cross-validation score",scores.mean())
print("\n")


y_pred_train = best_model.predict(X_titanic_train)
y_pred_test = best_model.predict(X_titanic_test)

print("Training Accuracy:",  accuracy_score(y_titanic_train, y_pred_train))
print("Testing Accuracy:",  accuracy_score(y_titanic_test, y_pred_test))
print("\n")
print("Training Precision:", precision_score(y_titanic_train, y_pred_train))
print("Testing Precision:", precision_score(y_titanic_test, y_pred_test))
print("\n")
print("Training Recall:",    recall_score(y_titanic_train, y_pred_train))
print("Testing Recall:",    recall_score(y_titanic_test, y_pred_test))
print("\n")
print("Training F1 Score:",  f1_score(y_titanic_train, y_pred_train))
print("Testing F1 Score:",  f1_score(y_titanic_test, y_pred_test))

Original model Cross-validation score 0.7856568953612454
GridSearchCV Cross-validation score 0.7957253154227606


Training Accuracy: 0.8069584736251403
Testing Accuracy: 0.937799043062201


Training Precision: 0.7672955974842768
Testing Precision: 0.9038461538461539


Training Recall: 0.7134502923976608
Testing Recall: 0.9276315789473685


Training F1 Score: 0.7393939393939394
Testing F1 Score: 0.9155844155844156

El uso de Pipelines facilita la visualización y trabajo con código que de otra manera estaría muy encimado y nos traería problemas al querer replicar, repetir o probar nuevos parámetros u implementar nuevas y/0 diferentes técnicas de transformación de datos.

In [40]:
import numpy as np
from sklearn.model_selection import train_test_split


# URL of the dataset
data_url = "http://lib.stat.cmu.edu/datasets/boston"

# Read raw data, skipping the header lines
raw_df = pd.read_csv(
    data_url,
    sep="\s+",
    skiprows=22,
    header=None
)

data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]

feature_names = [
    "CRIM","ZN","INDUS","CHAS","NOX","RM","AGE",
    "DIS","RAD","TAX","PTRATIO","B","LSTAT"
]
boston_df = pd.DataFrame(data, columns=feature_names)
boston_df["MEDV"] = target
y_boston = boston_df["MEDV"]

X_boston_train, X_boston_test, y_boston_train, y_boston_test = train_test_split(boston_df, y_boston, test_size = 0.2, random_state = 42)
display(X_boston_train.head())
display(y_boston_train.head())

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
477,15.02340,0.0,18.10,0.0,0.6140,5.304,97.3,2.1007,24.0,666.0,20.2,349.48,24.91,12.0
15,0.62739,0.0,8.14,0.0,0.5380,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47,19.9
332,0.03466,35.0,6.06,0.0,0.4379,6.031,23.3,6.6407,1.0,304.0,16.9,362.25,7.83,19.4
423,7.05042,0.0,18.10,0.0,0.6140,6.103,85.1,2.0218,24.0,666.0,20.2,2.52,23.29,13.4
19,0.72580,0.0,8.14,0.0,0.5380,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2

477    12.0
15     19.9
332    19.4
423    13.4
19     18.2
Name: MEDV, dtype: float64