In [31]:
import kagglehub
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Download latest version
path = kagglehub.dataset_download("kaushiksuresh147/customer-segmentation")
df_test = pd.read_csv(path+'/test.csv')
df_train = pd.read_csv(path+'/train.csv')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder

X = df_train
le = LabelEncoder()
le.fit(X["Var_1"])
X["Var_1"] = le.transform(X["Var_1"])
display(X)
#"Ever_Married", "Graduated", "Profession", "Work_Experience", "Family_Size","Var_!"

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,3,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,3,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,5,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,5,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,5,A
...,...,...,...,...,...,...,...,...,...,...,...
8063,464018,Male,No,22,No,NaN,0.0,Low,7.0,0,D
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,3,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,5,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,5,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,3,B

In [58]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder, OrdinalEncoder
from sklearn.impute import KNNImputer, SimpleImputer


drop_cols = ["ID"]
impute_cols = ["Ever_Married", "Graduated", "Profession", "Work_Experience", "Family_Size","Var_1"]
ohe_cols = ["Gender","Ever_Married","Graduated","Profession","Spending_Score"]
ordinal_cols = ["Var_1","Segmentation"]
scaler_cols = ["Age","Work_Experience","Family_Size"]


impute = ColumnTransformer(
    transformers=[

        ('column_dropper', 'drop', drop_cols),
        ('impute', SimpleImputer(strategy='most_frequent'),impute_cols),
    ],
    remainder='passthrough' 
)

encode_scale = ColumnTransformer(
    transformers=[
        ('OneHotEncoder', OneHotEncoder(handle_unknown='ignore',sparse_output=False), ohe_cols),
        ('OrdinalEncoder', OrdinalEncoder(), ordinal_cols),
        ('StandardScaler',StandardScaler(),scaler_cols),
    ],
    remainder='passthrough' 
)

pipeline = Pipeline([
    ('impute', impute),
    ('encode_scale', encode_scale),
    #
])

#X = pipeline.fit_transform(df_test)